/*
*
* Select 2
*/
/*
Version: 3.5.4 Timestamp: Sun Aug 30 13:30:32 EDT 2015
*/
.select2-container {
	margin: 0;
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	padding: 0;
	border-radius: 2px;
	border: 1px solid #cbba85;
}

.select2-container-active {
	border: 1px solid #cbba85;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
	/*
		Force border-box so that % widths fit the parent
		container without overlap because of margin/padding.
		More Info : http://www.quirksmode.org/css/box.html
	*/
	-webkit-box-sizing: border-box;
	/* webkit */
	-moz-box-sizing: border-box;
	/* firefox */
	box-sizing: border-box;
	/* css3 */
}

.select2-container .select2-choice {
	display: block;
	position: relative;
	width: 100%;

	padding: 6px 12px;
	border-radius: 2px;
	font-size: 14px;
	line-height: 18px;
	color: #877c58;
}
.select2-container .select2-choice:hover {
	text-decoration: none;
}
.select2-container .select2-choice > .select2-chosen {
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.select2-dropdown-open .select2-choice {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.select2-arrow {
	display: inline-block;
	position: absolute;
	right: 19px;
	top: 50%;
	transform: translateY(-50%);
	line-height: 1;
}

.select2-arrow b:before {
	display: inline-block;
	content: "";
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 10px solid #877c58;
}

.select2-dropdown-open .select2-arrow b:before {
	transform: rotate(180deg);
}

.select2-container .select2-choice abbr {
	display: none;
}

.select2-drop-mask {
	border: 0;
	margin: 0;
	padding: 0;
	position: fixed;
	left: 0;
	top: 0;
	min-height: 100%;
	min-width: 100%;
	height: auto;
	width: auto;
	opacity: 0;
	z-index: 99;
	/* styles required for IE to work */
	background-color: #ffffff;
	filter: alpha(opacity=0);
}

.select2-drop {
	width: 100%;
	margin-top: -1px;
	position: absolute;
	z-index: 100;
	top: 100%;
	background: #ffffff;
	color: #877c58;
	border: 1px solid #f5f5f5;
	border-top: 0;
	border-radius: 0 0 0 0;
}

.select2-drop-active {
	border: 1px solid #cbba85;
	border-top: 0;
}

.select2-drop.select2-drop-above {
	margin-top: 1px;
	border-top: 1px solid #f5f5f5;
	border-bottom: 0;
}

.select2-drop.select2-drop-above.select2-drop-active {
	border: 1px solid #cbba85;
}

.select2-search {
	display: inline-block;
	width: 100%;
	padding: 4px 4px 0;
	position: relative;
	z-index: 10000;
	white-space: nowrap;
}

.select2-search:before {
	position: absolute;
	right: 19px;
	top: 50%;
	transform: translateY(calc(-50% + 4px));
	display: inline-block;
	content: '\f43b';
	font-family: "Material Design Icons";
	font-size: 20px;
	line-height: 1;
}

.select2-search input {
	width: 100%;
	padding: 5px 35px 5px 5px;
	margin: 0;
	outline: 0;
	font-size: 1em;
	background-color: #f5f5f5;
	color: #b7b7b7;
	border: 1px solid #f5f5f5;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
	border: 1px solid #f5f5f5;
	border-top-color: transparent;
}

.select2-hidden-accessible {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* results */
.select2-results {
	padding: 4px 4px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.select2-result {
	border-radius: 0;
	transition: .1s;
}

.select2-results li.select2-result-with-children > .select2-result-label {
	font-weight: bold;
}

.select2-results .select2-result-label {
	padding: 3px 7px 4px;
	margin: 0;
	cursor: pointer;
	min-height: 1em;
	font-size: 14px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.select2-results .select2-highlighted {
	color: #ffffff;
	background: #877c58;
}

.select2-results li em {
	background: #ffffff;
	font-style: normal;
}

.select2-results .select2-highlighted em {
	background: transparent;
}

.select2-results .select2-highlighted ul {
	background: #ffffff;
	color: #000000;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
	color: #ffffff;
	background: #877c58;
	display: list-item;
	cursor: default;
}

.select2-results .select2-disabled {
	background: #b7b7b7;
	display: list-item;
	cursor: default;
}

.select2-results .select2-selected {
	display: none;
}

.select2-results .select2-ajax-error {
	background: rgba(255, 50, 50, 0.2);
}

.select2-more-results {
	background: #f4f4f4;
	display: list-item;
}

/* disabled styles */
.select2-container.select2-container-disabled .select2-choice {
	background-color: #f4f4f4;
	background-image: none;
	border: 1px solid #dddddd;
	cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
	background-color: #f4f4f4;
	background-image: none;
	border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
	display: none;
}

/* multiselect */
.select2-container-multi {
	display: flex;
	align-items: stretch;
	height: auto;
	min-height: 50px;
}

.select2-container-multi .select2-choices {
	display: flex;
	flex-flow: row;
	align-items: center;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	line-height: 0;
	cursor: text;
	overflow: hidden;
}

.select2-locked {
	padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
	min-height: 26px;
}

.select2-container-multi .select2-choices .select2-search-field {
	margin: 0;
	padding: 0;
	white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
	width: 100% !important;
	outline: 0;
	border: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: transparent !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
	padding: 4px 5px 4px 20px;
	margin: 3px 0 3px 5px;
	position: relative;
	line-height: 13px;
	cursor: default;
	border: 1px solid gainsboro;
	background-clip: padding-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: gainsboro;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
	cursor: default;
}

.select2-search-choice-close {
	display: block;
	width: 12px;
	height: 13px;
	position: absolute;
	right: 3px;
	top: 3px;
	color: #2c343b;
}

.select2-search-choice-close:before {
	display: inline-block;
	content: '\f24c';
	font-family: "Material Design Icons";
	font-size: 12px;
	line-height: 1;
}

.select2-container-multi .select2-search-choice-close {
	left: 3px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
	background-color: #f4f4f4;
	background-image: none;
	border: 1px solid #dddddd;
	cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
	padding: 3px 5px 3px 5px;
	border: 1px solid #dddddd;
	background-image: none;
	background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
	display: none;
	background: none;
}

/* end multiselect */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
	text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
	clip: rect(0 0 0 0) !important;
	width: 1px !important;
	height: 1px !important;
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
	position: absolute !important;
	outline: 0 !important;
	left: 0px !important;
	top: 0px !important;
}

.select2-display-none {
	display: none;
}

.select2-measure-scrollbar {
	position: absolute;
	top: -10000px;
	left: -10000px;
	width: 100px;
	height: 100px;
	overflow: scroll;
}
