/* Page styles */

h5{
	letter-spacing: -.025em;
}
h2 + h5 {
	margin-top: 22px;
}
.small{
	font-size: 12px;
}

.text-red {
	color: #ff0c00;
	font-weight: 600;
	letter-spacing: .025em;
}

.text-accent {
	color: #e95000;
}
.text-gray {
	color: #696969;
}

.btn {
	display: inline-block;
	font-size: 20px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 12px;
	border-radius: 3px;
	letter-spacing: .025em;
	transition: all .3s;
	overflow: hidden;
}
.btn.btn-gradient {
	position: relative;
	color: #ffffff;
	border: 1px solid #e95000;
	background: transparent;
}
.btn.btn-gradient:before {
	position: absolute;
	content: '';
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	background: linear-gradient(to bottom, #ff8a00, #e95000);
	transition: all .3s;
	z-index: -1;
}
.btn.btn-gradient:after{
	position: absolute;
	content: '';
	top: -1px;
	left: -1px;
	right: -1px;
	bottom: -1px;
	background: linear-gradient(to top, #ff8a00,  #ff8a00);
	transition: all .3s;
	z-index: -1;
	opacity: 0;
}
.btn.btn-gradient:hover:before {
	opacity: 0;
}
.btn.btn-gradient:hover:after {
	opacity: 1;
}
/* contact list*/
.contact-info-list {
	color: #696969;
	font-weight: 600;
}
.contact-info-list li + li {
	margin-top: 15px;
}
.contact-info-list li span {
	display: block;
}
.contact-info-list li a {
	color: #046ac0;
	text-decoration: underline;
}
.contact-info-list li a:hover {
	text-decoration: none;
}
	/* box contact info*/
* + .box-contact-info {
	margin-top: 30px;
}
.contact-form {
	padding: 15px 12px;
	border-radius: 4px;
	border: 1px solid #cbba85;
}
.contact-form + * {
	margin-top: 15px;
}
.form-item + .form-item {
	margin-top: 15px;
}
.form-item {
	position: relative;
}
.form-item .load{
	position: absolute;
	right: 10px;
	bottom: 10px;
	cursor: pointer;
}
.form-item .load i {
	font-size: 22px;
	color: #877c58;
}
.form-item .btn {
	min-width: 100px;
}
.form-item input, .form-item textarea, .form-item select {
	width: 100%;
	border: 1px solid #cbba85;
	padding: 6px 12px;
	border-radius: 2px;
	font-size: 14px;
	line-height: 18px;
	color: #877c58;
}
.form-item textarea {
	height: 140px;
	padding-bottom: 40px;
}
.form-item input[type='file'] {
	display: none;
}
/* block chat*/
.block-chat {
	border-radius: 4px;
	border: 1px solid #cbba85;
}
.block-chat-header {
	position: relative;
	padding: 22px 22px 12px;
	border-bottom: 1px solid #cbba85;
	background: linear-gradient(to top, #fff, #f3ebd3);
}
.block-chat-header p {
	margin-bottom: 0;
}
.block-chat-header p + * {
	margin-top: 5px;
}
.chat-info {
	text-transform: capitalize;
	letter-spacing: -0.025em;
}
.chat-info  span{
	display: inline-block;
	vertical-align: middle;
	font-size: 18px;
}
.chat-info  span i {
	color: #ffffff;
	text-align: center;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	line-height: 26px;
	background: #0285bb;
}
.chat-info  span a{
	color: #0285bb;
}
.block-chat-img {
	position: relative;
	margin-bottom: -12px;
}
@media (min-width: 768px) {
	.block-chat-img {
		position: absolute;
		margin-bottom: 0;
		bottom: 0;
		right: 20px;
	}
}
@media (min-width: 992px) {
	.block-chat-img {
		right: 40px;
	}
}
.block-chat-body {
	padding: 25px 22px 35px;
	border-bottom: 1px solid #cbba85;
	max-height: 320px;
	overflow-y: auto;
}
.block-chat-footer {
	padding: 22px;
}
.block-chat-footer .btn {
	min-width: 100px;
}

/* block chat message */
.block-chat-message + .block-chat-message{
	margin-top: 35px;
}
.block-chat-message .chat-message-img {
	border: 1px solid #877c58;
	border-radius: 4px;
	overflow: hidden;
	margin-right: 20px;
}
.block-chat-message .chat-message-body {
	position: relative;
	padding: 20px 12px;
	border-radius: 10px;
	background: #87ccef;
	font-size: 12px;
}
.block-chat-message .chat-message-body:before {
	position: absolute;
	content: url('../images/message-bg-1.png');
	top: 3px;
	left: -15px;
}

.block-chat-message.block-chat-message-right .chat-message-body:before {
	position: absolute;
	content: url('../images/message-bg-2.png');
	top: 3px;
	left: auto;
	right: -15px;
}
.block-chat-message.block-chat-message-right  {
	flex-direction: row-reverse;
}
.block-chat-message.block-chat-message-right .chat-message-body {
	background: #e6dcbb;
}
.block-chat-message.block-chat-message-right .chat-message-img {
	margin-right: 0;
	margin-left: 20px;
}
@media (min-width: 576px) {
	.block-chat-message.block-chat-message-right {
		align-items: flex-end;
	}
}
@media (min-width: 992px) {
	.block-chat-message .chat-message-img{
		margin-right: 45px;
	}
	.block-chat-message.block-chat-message-right .chat-message-img {
		margin-left: 45px;
	}
	.block-chat-message .chat-message-body {
		padding: 25px;
		max-width: calc(100% - 220px);
	}
}


/* scroll bar*/
.mCSB_scrollTools .mCSB_draggerRail {
	width: 10px;
	background: #8e8565;
	box-shadow: inset  0 0 1px rgba(0,0,0, 0.4);
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 6px;
}